# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Downloaded image files im tmp directory
*.svs

# VS Code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets
.DS_Store

QueueRunner/tmp